<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="ja" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<title>{print $Config/ViewAdd/Title} - {print $Title}</title>
</head>

<body>
<h1>{print $Title}</h1>
<h3>{print $Msg}</h3>
ホームページへ戻るか、ブラウザの[戻る]ボタンを押して前の画面に移動してください。<br />
エラーが解消しない場合は管理者へお問い合わせください。<br />
また、ブラウザの戻るボタンや、ページの更新が手動で行われた場合にも表示されることがあります。<br />
<br /><br />
<!--{def $Debugs}-->
<!--{loop $Debugs}-->
{print $Debugs/Name:HTML:BR}={print $Debugs/Value:HTML:BR}<br />
<!--{/loop}-->
<!--{/def}-->
<?php Template::Load("Footer.html"); ?></body>
</body>
</html>
